* {
	/* Since it's a fullscreen application, remove annoying  */
	overflow: hidden;
	font-family: sans-serif;
}

:root {
	--ui-size-height: 100px;
	--ui-size-img: 45px;
	--ui-size-gap: 10px;
	--ui-color-bg: rgba(255, 255, 255, 0.35);
	--ui-color-play-btn: rgba(255, 217, 0, 0.75);
	--ui-color-play-btn-hover: rgba(206, 151, 0, 0.75);
	--ui-color-btn: rgba(255, 255, 255, 0);
	--ui-color-btn-hover: rgba(206, 206, 206, 0.3);
	--ui-color-separator: #aaa;
	--ui-color-selected: rgb(125, 255, 205, 0.5);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	background-color: black;
	position: relative;
	/* https://css-tricks.com/snippets/css/system-font-stack/ */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
}

#main-ui {
	display: block;
	position: absolute;
	height: var(--ui-size-height);
	top: var(--ui-size-gap);
	left: var(--ui-size-gap);
	right: var(--ui-size-gap);
	background-color: var(--ui-color-bg);
	backdrop-filter: blur(5px) brightness(125%);
	border-radius: calc(var(--ui-size-height) / 2);
}

#help-ui {
	display: flex;
	position: absolute;
	height: 100%;
	width: 100%;
	backdrop-filter: blur(5px) brightness(80%);
	font-size: 1.2rem;
}

#loading {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	color: var(--ui-color-play-btn);
}

#loading h2 {
	width: 100%;
	display: block;
	text-align: center;
	align-self: center;
}

#help-ui main {
	position: relative;
	align-self: center;
	margin: auto;
	min-width: 35em;
	min-height: 25em;
	padding: 1em 2em;
	background-color: var(--ui-color-bg);
	backdrop-filter: blur(5px) brightness(125%);
	border-radius: calc(var(--ui-size-height) / 2);
}

.start-btn-container {
	text-align: center;
}

#start-btn {
	border: none;
	border-radius: 10px;
	border-bottom: 3px solid var(--ui-color-play-btn-hover);
	background-color: var(--ui-color-play-btn);
	font-weight: bold;
	font-size: 1.5em;
	padding: 0.25em 2em;
	letter-spacing: 0.2em;
}
#start-btn:hover {
	border-bottom: 3px solid var(--ui-color-play-btn);
	background-color: var(--ui-color-play-btn-hover);
}

.ui-flex {
	position: relative;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.ui-right {
	display: flex;
	flex-grow: 0;
	height: 100%;
	padding: var(--ui-size-gap);
	width: var(--ui-size-height);
}

.ui-left {
	display: flex;
	flex-grow: 1;
	height: 100%;
	padding: 0 var(--ui-size-gap);
}

.ui-button {
	display: inline-block;
	height: 100%;
	border: none;
	font-size: 2rem;
	padding: 0 var(--ui-size-gap);
	margin-right: var(--ui-size-gap);
	background-color: var(--ui-color-btn);
	vertical-align: top;
}

.ui-button:hover {
	background-color: var(--ui-color-btn-hover);
}

.ui-button .ui-label {
	font-size: 1rem;
}

.ui-button img {
	height: var(--ui-size-img);
	width: var(--ui-size-img);
}

.ui-separator {
	display: inline-block;
	height: 100%;
	width: 0;
	border-left: 3px dashed var(--ui-color-play-btn);
	vertical-align: top;
	margin-right: var(--ui-size-gap);
}
.ui-spacer {
	display: inline-block;
	width: var(--ui-size-gap);
}

.selected,
.selected:hover {
	background-color: var(--ui-color-selected);
}

.ui-game {
	display: flex;
}

.ui-collectable {
	display: inline-block;
	border: none;
	padding: 0 var(--ui-size-gap);
	margin-right: var(--ui-size-gap);
	align-self: center;
}

.ui-collectable img {
	height: var(--ui-size-img);
	width: var(--ui-size-img);
	vertical-align: middle;
}

.ui-collectable span {
	font-size: 2.5rem;
	vertical-align: middle;
	letter-spacing: 0.2rem;
	margin-left: 0.4rem;
}

.hidden {
	display: none !important;
}

#play-btn,
.circle-btn {
	display: inline-block;
	align-self: center;
	margin: 0;
	border: none;
	padding: 0;
	width: calc(var(--ui-size-height) - var(--ui-size-gap) * 2);
	height: calc(var(--ui-size-height) - var(--ui-size-gap) * 2);
	border-radius: 100%;
	background-color: var(--ui-color-play-btn);
	font-size: 2.5rem;
	font-weight: bold;
}

#play-btn:hover,
.circle-btn:hover {
	background-color: var(--ui-color-play-btn-hover);
}

em {
	font-weight: bold;
}

kbd {
	display: inline-block;
	border-bottom: 3px solid var(--ui-color-play-btn-hover);
	border-radius: 5px;
	padding: 2px 5px;
	background-color: var(--ui-color-play-btn);
	color: black;
	vertical-align: middle;
}

.font-small {
	font-size: 1em;
}
